footer {
    display: flex;
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
  }

.btn-primary {
    color: white!important;
    text-decoration: none!important;
}
